
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(166, 226, 247);
}

h1 {
    padding: 20px;
    margin-left: 30%;
    color: rgb(2, 2, 61);
    
    
}

.container {
    margin: 40px auto;
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(270px, 1fr));
    column-gap: 20px;
    row-gap: 40px;
    justify-content: center;
    padding: 0 20px;
}

.polaroid {
    background: white;
    padding: 15px 15px 30px;
}


.photo {
    width: 100%;
    height: 190px;
    object-fit: cover;
}

.caption {
    margin-top: 10px;
}

